<!DOCTYPE html>
<html>
    <head>
        {% block title %}{% endblock %}
        {% block style %}{% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
        {% block main %}{% endblock %}
        {% block extra %}{% endblock %}
        <footer>
            <ul>
                <li><a href="https://knightlab.northwestern.edu/">Knight Lab</a></li>
            </ul>
        </footer>
    </body>
</html>
