<!DOCTYPE html>
<html>
    <head>
        <title>Talking to Data</title>
        <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }}>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>

        <div>
            <h1>Knight Lab Studio: Talking to Data</h1>
            <p>Please upload a document so we can fact check it.</p>
            <form enctype="multipart/form-data" action="/upload" method="post">
                <input type="file" name="article"/>
                <input type="submit" value="Submit"/>
            </form>
            <p></p>
        </div>
        <footer>
            <ul>
            </ul>
        </footer>
    </body>
</html>
