{% extends "base.html" %}

{% block title %}
<title>Fact Finder</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main.css') }}>
{% endblock %}

{% block main %}
<div>
    <h1>Knight Lab Studio: Talking to Data</h1>

    <h2> Key: &nbsp&nbsp<span style="background-color:#4286f4">Proper Noun</span>
        &nbsp&nbsp<span style="background-color:#ff0000">Number</span></h2>

    <br></br>

    <p>
        {% for token in tokenized %}
            {% if token.type == 0 %}
                {{token.text}}
            {% elif token.type == 1 %}
                <span style="background-color:#4286f4">{{token.text}}</span>
            {% elif token.type == 2 %}
                <span style="background-color:#ff0000">{{token.text}}</span>
            {% elif token.type == 3 %}
                <span style="background-color:#19ff00">{{token.text}}</span>
            {% endif %}


        {% endfor %}
    </p>
</div>
{% endblock %}

{% block extra %}
<div>
    <br></br>
    <h3>Proper Nouns</h3>
    <p>

    {% for token in nouns %}
        {{token.number}}.&nbsp&nbsp&nbsp{{token.token}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    {% endfor %}

    </p>
    <h3>Numbers</h3>

    {% for token in numbers %}
        <p>{{token.number}}.&nbsp&nbsp&nbsp{{token.token}}</p>
    {% endfor %}
    <br></br>
</div>

{% endblock %}
